@reference 'tailwindcss';

.navbar__link {
  @apply flex flex-row items-center justify-center text-xl font-semibold text-blue-300;
  @apply h-full p-1 px-2 pr-3;
  @apply transition hover:cursor-pointer;
  @apply hover:bg-blue-300 hover:text-stone-900;
  @apply focus:bg-blue-300 focus:text-stone-900;
  @apply outline-none;
}
